<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/ef8edad5-0224-4911-964f-2e573fbe636d/resourcegroups/AiTopStudentStatusApi20230628122139ResourceGroup/providers/Microsoft.Web/sites/SoftQNRApi20230628122139</ResourceId>
    <ResourceGroup>AiTopStudentStatusApi20230628122139ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/ef8edad5-0224-4911-964f-2e573fbe636d/resourceGroups/AiTopStudentStatusApi20230628122139ResourceGroup/providers/Microsoft.ApiManagement/service/SoftQNRApi/apis/SoftQNRApi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://softqnrapi20230628122139.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>b1ef6f0a-ed7f-4b42-ad61-9741d75808f6</ProjectGuid>
    <MSDeployServiceURL>softqnrapi20230628122139.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SoftQNRApi20230628122139</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$SoftQNRApi20230628122139</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>